{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :sha "087906e7e4ac9efe4461317d6aa461fc8778567a"
                            #_#_:local/root "../open-source"}}}
